@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">       
    </div>
    <div class="col-md-4">
        <dl>
            
            <dd>
               
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>           
        </dl>
    </div>
    <div class="col-md-4">
        <dl>           
        </dl>
    </div>
    <div class="col-md-4">
        <dl>         
            <dd>
                <ul>                 
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>          
        </dl>
    </div>
    <div class="col-md-4">
        <dl>          
        </dl>
    </div>
    <div class="col-md-4">
        <dl>          
        </dl>
    </div>
    <div class="col-md-4">
        <dl>        
        </dl>
    </div>
    <div class="col-md-4">
        <dl>           
        </dl>
    </div>
    <div class="col-md-4">
        <dl>         
            <dd>
                CERPA: Configurable Enterprise Planning Application
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>        
            <dd>
                <ul>
                    <li>                       
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">        
    </div>
</div>